{% extends 'mainapp/base.html' %}
{% load specifications %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'category_detail' slug=product.category.slug %}">{{ product.category }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8 mb-5">
        <h3> {{ product.title }} </h3>
        <p>Цена: {{ product.price }} ₽</p>
        <p>Описание: {{ product.description }}</p>
        <hr>
        <a class="" href="{% url 'add_to_cart' slug=product.slug %}"> <button class="btn btn-danger">Добавить в карзину</button> </a>
    </div>
    <h5>Характкристики:</h5>

    {{ product|product_spec }}


</div>

{% endblock %}