<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплейа</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Объем батареи</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Разъём для карта памяти</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Максимальный объем сд карты</td>
      <td>{{ product.sd_volume }}</td>
    </tr>
    <tr>
      <td>Главная камера</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.front_cam_mp }}</td>
    </tr>
  </tbody>
</table>
